@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Inter;
    src: url(/public/fonts/Inter-Regular.woff2);
}

@font-face {
    font-family: InterBold;
    src: url(/public/fonts/Inter-Bold.woff2);
}

* {
    font-family: Inter;
}

html {
    scroll-behavior: smooth;
}

.navItemHover:hover {
    text-decoration: underline;
}

input, textarea {
    outline: none;
}